{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Телефон</th>
            <th>Почта</th>
            <th>Кабинет</th>
            <th>Статус кабинета</th>
            <th>Должность</th>
        </tr>
        {% for shedule in shedules %}
        <tr>
            <td>{{ shedule.фамилия }}</td>
            <td>{{ shedule.имя }}</td>
            <td>{{ shedule.отчество }}</td>
            <td>{{ shedule.телефон }}</td>
            <td>{{ shedule.почта }}</td>
            <td>{{ shedule.кабинет }}</td>
            <td>{{ shedule.статус_кабинета }}</td>
            <td>{{ shedule.должность }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
<!--                         <td>Нейрорадиология, Торакальная радиология</td>   
 -->